Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
MaxEmptyLinesToKeep: 1
ColumnLimit: 100
PenaltyBreakAssignment: 2
PenaltyReturnTypeOnItsOwnLine: 200
PointerAlignment: Left
SortIncludes: false # THE FK, this is dangerous
IndentAccessModifiers: true # format public, private
