[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb
[submodule "libs/vkbootstrap"]
	path = libs/vkbootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "libs/imgui"]
	path = libs/imgui
	url = git@github.com:ocornut/imgui.git
	shallow = true
[submodule "libs/vma"]
	path = libs/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "libs/sdl"]
	path = libs/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "libs/tinyobjloader"]
	path = libs/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest.git
[submodule "libs/tinygltf"]
	path = libs/tinygltf
	url = https://github.com/syoyo/tinygltf.git
